body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #84b7dbe6;
}

.site-header .navbar-nav .nav-link {
  color: #292929;
}

.site-header .navbar-nav .nav-link:hover {
  color: #266296;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: -1px 1px 4px 0 rgba(32, 18, 183, 0.15), 
              1px -1px 4px 0 rgba(30, 132, 157, 0.15);
}

a.article-title, a.author-link {
  text-decoration: none;
}

.article-title {
  color: #444444;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a.article-title:hover {
  color: #428bca;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 42px;
  width: 42px;
  margin-right: 6px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-control:focus {
  box-shadow:
    -2px 2px 6px 0 rgba(86, 3, 150, 0.15),
    2px -2px 6px 0 rgba(201, 12, 12, 0.15);
  border: none;
}

.post-actions {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}

#navbar-logo {
  height: 40px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

#navbar-logo:hover {
  opacity: 0.8;
  transform: scale(1.05);
}