{% macro thankyou_card(extra_classes='') %}
<div id="flash-overlay">
  <div class="card-flash shadow-lg {{ extra_classes }}">
    <img src="{{ url_for('static', filename='img/happymonkey1.png') }}" class="image-in-card" alt="🎉">
    <h3 class="mb-2">Thank you for your service!</h3>
    <p>I really appreciate you. <small class="text-theme-secondary">/ curious student</small></p>
    <div class="d-flex align-items-center justify-content-center gap-2 my-4">
      <span>Keep going?</span>
      <a href="{{ url_for('posts.new_post') }}" class="btn gradient-anim shadow-sm">Press me :)</a>
    </div>
    <button type="button" id="flash-close" class="btn-close" aria-label="Close"></button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
{% endmacro %}