{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="d-flex align-items-center">
            <img class="account-img" src="{{ image_file }}" id="profile-preview">
            <div>
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-muted">{{ current_user.email }}</p>
                <p class="text-muted">Program: {{ current_user.program.name }} ({{ current_user.program.program_type.title() }})</p>
            </div>
        </div>
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <fieldset class="mb-3">
                <legend class="border-bottom border-dark mb-4 pb-2">Account Info</legend> 
                <div class="mb-3">
                    {{ form.username.label(class="form-label fw-bold") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-label fw-bold") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.picture.label(class="form-label fw-bold") }}
                    {{ form.picture(class="form-control", onchange="updateProfilePreview(this)") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="mt-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <script>
        function updateProfilePreview(selectElement) {
            const selectedImage = selectElement.value;
            const preview = document.getElementById('profile-preview');
            if (selectedImage) {
                preview.src = "{{ url_for('static', filename='profile_pics/') }}" + selectedImage;
            }
        }
    </script>
{% endblock content %}