{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="mb-3">
                <legend class="mb-2">Feedback</legend>
                <div class="mb-2">
                    {% if form.message.errors %}
                        {{ form.message(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.message(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="d-flex gap-2">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ redirect_url }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

