{% extends "layout.html" %}
{% block content %}
    <div class="mb-3">
        <a href="{{ url_for('main.home') }}" class="btn btn-sm gradient-anim gradient-anim--white gradient-shadow">
            <i class="fas fa-arrow-left"></i> Back to Home
        </a>
    </div>
    <article class="d-flex align-items-center content-section position-relative post-section">
        {% if post.author == current_user %}
            <div class="post-actions">
                <a class="btn gradient-anim gradient-anim--grey btn-sm me-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Edit</a>
                <button type="button" class="btn gradient-anim gradient-anim--red btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        {% endif %}
        <div class="flex-grow-1">
            <div class="review-metadata">
                <img class="rounded-circle review-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="{{ post.author.username }}'s profile picture">
                <a class="me-2 author-link" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y') }}</small>
            </div>
            <small class="text-secondary ms-2 d-block my-2">Course: {{ post.course.code }} - {{ post.course.name }}</small>
            <h2 class="review-title">{{ post.title }}</h2>
            <p><strong>Year Taken:</strong> {{ post.year_taken }}</p>
            <p><strong>Rating:</strong> <span class="badge gradient-shadow {{ 'gradient-anim gradient-anim--yellow' if post.rating == 5 else 'gradient-anim gradient-anim--white' }}">★ {{ post.rating }} / 5</span></p>
            <p><strong>What did you like most?</strong><br>{{ post.answer_q1 }}</p>
            <p><strong>What could be improved?</strong><br>{{ post.answer_q2 or '—' }}</p>
        </div>
    </article>

    <!-- Modal -->
    <!-- TOOD: what is this Modal?? --> 
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}