{% extends "layout.html" %}
{% block content %}
    <article class="d-flex align-items-center content-section">
        <div>
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="{{ post.author.username }}'s profile picture">
                <a class="me-2 author-link" href="#">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y') }}</small>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endblock content %}